.table {
  margin: auto;
  // position: relative;
  // width: fit-content;
  width: 1024px;
  top: 55px;
  border: 1px solid #dee2e6;
  // width: 100%;
  color: #212529;
  border-collapse: collapse;
  box-shadow: var(--raised-prim-shadow-active) !important;
  box-shadow: var(--raised-shadow-active, var(--raised-prim-shadow-active)) !important;
}
